.container {
  margin: 0 auto;
  max-width: 1304px;
  padding: 20px;
}

.container h1 {
  font-size: 3em;
}

.container__cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border: 1px #8d8d8d solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 8px;
}

.card h2 {
  margin: 0;
  font-size: 1.8em;
}

.card h3 {
  margin: 0.5em 0;
  color: rgb(253, 168, 19);
  font-size: 1.3em;
}

.card h4 {
  margin: 0.5em 0em;
}

.card__section {
  display: flex;
  color: rgb(128, 128, 128);
}

.card__section--positive {
  color: rgb(5, 172, 5);
}

.card__section--negative {
  color: rgb(255, 0, 0);
}